#footer{
    background-color:#F9F9F9;
    border-bottom: 1px solid #A5A1A1;
 .lista{
    margin: 45px;
    font-weight: 600;
    font-size: 18px;
    .lista-item{
        margin-bottom: 5px;
    }
}

.campo{
    margin: 60px;
    margin-left: 13%;
    font-weight: 600;
    font-size: 18px;
    .inputs{
        .campo-item{
            padding: 4%;
        }
        .span{
            background-color: #5CA720;
            color: white;
            font-weight: bold;
            width: 19%;
            padding-left: 3.3%;
           }

         
    }
   

}
}