<section id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="lista">
                    <p class="lista-item">Contato</p>
                    <p class="lista-item">Termos de serviço</p>
                    <p class="lista-item">Política de privacidade</p>
                    <p class="lista-item">Cancelamento, troca e reembolso</p>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="campo">
                    <p class="item">Newsletter</p>

                    <div class="input-group mb-3 inputs">
                        <input type="text" class="form-control campo-item" placeholder="Digite seu melhor e-mail"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text span" id="basic-addon2">Inscrever</span>
                    </div>

                </div>

            </div>



        </div>
    </div>
</section>