<section id="catalogo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-4 produto">
                <img class="img" src="assets\images\gabrielle-henderson-1DMNn6gBbwQ-unsplash.jpg" alt="">
                <p class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"><span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>

            <div class="col-sm-6 col-lg-4 produto">
                <img class="img" src="assets\images\devin-avery-bMH8ub9z1_U-unsplash.jpg" alt="">
                <p  class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"><span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>

            <div class="col-sm-6 col-lg-4 produto">
                <img class="img" src="assets\images\devin-avery-BRVqq2uak4E-unsplash.jpg" alt="">
                <p  class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"> <span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>
          




            <div class="col-lg-4 produto">
                <img class="img" src="assets\images\nery-montenegro-SmEty_TVr80-unsplash.jpg" alt="">
                <p class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"><span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>

            <div class="col-lg-4 produto">
                <img class="img" src="assets\images\olena-sergienko-GOVTETevRm8-unsplash.jpg" alt="">
                <p  class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"><span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>

            <div class="col-lg-4 produto">
                <img class="img" src="assets\images\pharma-hemp-complex-tAzdKblAinw-unsplash.jpg" alt="">
                <p  class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"> <span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>





            <div class="col-lg-4 produto">
                <img class="img" src="assets\images\phaedra-botanicals-uFAHrKYkTVI-unsplash.jpg" alt="">
                <p class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"><span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>

            <div class="col-lg-4 produto">
                <img class="img" src="assets\images\pharma-hemp-complex-yVAXSK6zFIM-unsplash.jpg" alt="">
                <p  class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"><span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>

            <div class="col-lg-4 produto">
                <img class="img" src="assets\images\chandra-oh-y5hRv6UNKMg-unsplash.jpg" alt="">
                <p  class="titulo">Lorem ipsum dolor sit</p>
                <p class="valor"> <span style="font-weight:500 ; font-size:16px">R$</span>50,00</p>
            </div>





        </div>
    </div>
</section>