#catalogo {
  .produto {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .img {
      width: 65%;
      height: 60%;
    }

    .titulo {
      font-size: 20px;
      font-weight: 600;
      margin-top: 15px;
      margin-right: 20%;
      margin-bottom: 0;
    }
    .valor {
      margin-right: 44%;
      font-size: 22px;
      color: #5ca720;
      font-weight: 600;
    }

    .valor span {
      color: black;
      font-weight: 16px;
      margin-right: 5px;
    }
  }
}

@media (max-width: 991.98px) {
  #catalogo {
    .produto {
      width: 50%;
      .titulo {
        font-size: 14px;
        font-weight: 600;
        margin-top: 15px;
        margin-right: 0%;
        margin-bottom: 0;
      }
      .valor {
        margin-right: 33%;
        font-size: 21px;
        color: #5ca720;
        font-weight: 600;
      }

      .img {
        width: 78%;
        height: 46%;
      }
    }
  }
}
