<section id="nav">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-12 nav-conteudo">
                <nav class="itens">
                    <p class="titulo-nav">Selfcare</p>
                    <div class="botoes">
                        <a class="but-nav"><img src="assets/images/Captura de tela 2022-10-04 180119.png" alt=""></a>
                        <a class="but-nav"><img src="assets/images/login.png" alt=""></a>
                        <a class="but-nav"><img src="assets/images/cart.png" alt=""></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</section> 