#footer{
    background-color:#F9F9F9;;
    .face{
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 3%;
    }
    .cartao{
        display: flex;
        justify-content: right;
        width: 10%;
       .img{
            width: 30%;
            height: 68%;
            padding-top: 1%;
            margin-top: 1%;
            margin-right: 8%;
        }
    }

}